.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  overflow: hidden;

  /* background: #e1efff; */
}

.appear {
  transform: translateX(-100%);
}

.appearActive {
  transform: translateX(0);
  transition: transform 500ms linear;
}
